@model IEnumerable<ticomarkenet.Models.Imagen>

@{
    ViewData["Title"] = "Index";
}

<h1>Imágenes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Subir nueva imagen</a>
</p>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Vista previa</th>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagenes/@item.Ruta" alt="Imagen" width="150" height="100" class="img-thumbnail" />
                </td>
                <td>
                    @item.Producto.Nombre (@item.Producto.ProductoId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImagenId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ImagenId" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ImagenId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
